.em-popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0;
    overflow-y: auto;
    background-color: rgba(0,0,0,.4);
    z-index: 10000;
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s;
   }
   .em-modal{
    width:400px;
    margin:0 auto;
    margin-top:60px;
   }
   .em-popup-button{
    margin-top:5px;
    font-size: 20px;
    font-weight: bolder;
    padding: 5px 15px;
    width: max-content;
    transform: rotate(-3deg);
   }
   .em-icon-container{
     width:100%;
   }
   .em-icon-container img{
    width: 335px;
    transform: rotate(-3deg);
    position: relative;
    top: -20px;
    transition: 1s all;
   }
   .em-content{
    font-size: 25px;
    width: 350px;
    padding: 5px;
    line-height: 30px;
    color: #5679ff;
    margin: 0 auto;
    border-radius:10px;
    background: white;
    transform: rotate(3deg);
    transition: 1s all;
   }

   @media (min-width:100px) and (max-width:500px){
    .em-content{
        font-size:21px;
        width:75%;
        padding:4px;
        line-height: 25px;
    }
    .em-icon-container img{
        width:41%;
    }
   }


   